<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directica V-Show</title>
</head>
<body>

  <div id="app">
      <input type="text" v-model="login" name="" id=""> 
       <p>{{password}}</p> 
       <p v-if="isLogin">Estas logueado</p>
       <p v-else="isLogin">No estas logueado</p>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el:'#app',
        data:{
            password: 'admin',
            login:''
        },
        computed:{
            isLogin(){
                if(this.password == this.login){
                    return true
                }
                else{
                    return false
                }
            }
        }        
      })
    </script>
  </body>
</html>