<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodos V2</title>
</head>
<body>
    <div id="app">
        <h3>{{numero1}}</h3>
        <h3>{{numero2}}</h3>
        <input type="number" v-model="numero1" name="" id="">
        <input type="number" v-model="numero2" name="" id="">
        <hr>
        <p>Suma: {{sumita()}}</p>
        <p>Resta: {{resta()}}</p>
        <p>Multiplicación: {{mult()}}</p>
        <p>Devición: {{divicion()}}</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                numero1: 0,
                numero2: 0,
            },            
            methods: {
                sumita: function(){
                    return (this.numero1-0)+(this.numero2-0)
                },
                resta: function(){
                    return (this.numero1-0)-(this.numero2-0)
                },
                mult: function(){
                    return (this.numero1-0)*(this.numero2-0)
                },
                divicion: function(){
                    return (this.numero1-0)/(this.numero2-0)
                }
            }
        })
    </script>
</body>
</html>