<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>

  <div id="app">
    <li v-for='( framework, i ) in frameworks'>
        El F: {{framework}} fue creado por {{creador[i]}}
    </li>
    <hr>
    <li v-for='( framework, nombre ) in datos'>
        El F: {{nombre}} fue creado por {{framework}}
    </li>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el:'#app',
        data:{
            frameworks:['Angular','Vue','React'],
            creador:['Misko Hevery','Wilmer','Jordan Walke'],
            datos:{
                Angular: "Misko H",
                Vue: "Wilmer",
                React: "Jordan W"
            }
        }
      })
    </script>
  </body>
</html>